html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	background-color: #3FA5BF;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: white;
  text-shadow: 3px 2px 1px black;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}

li {
	text-decoration: underline;
}